<div class="material-table" ng-controller="PhotosController" ng-class="{ loading: photosAjaxInProgress }">
    <div class="header" ng-if="!selectedItems.length">
        <div class="caption">{{:: 'photos' | translate }}</div>
        <div class="controls">
            <div class="search">
                <input placeholder="{{:: 'search' | translate }}" type="text" ng-model="search.query">
                <i class="icon icon-search"></i>
            </div>
        </div>
    </div>
    <div class="selected-header" ng-if="selectedItems.length">
        <div class="caption">{{ selectedItems.length }} {{:: 'photosSelected' | translate }}</div>
        <div class="controls">
            <i class="icon icon-trash" ng-click="deletePhotos(selectedItems)"></i>
        </div>
    </div>
    <div class="table table-hover">
        <div class="table-row table-head">
            <div class="table-col small-col align-left">
                <md-checkbox aria-label="select all users" ng-checked="$parent.selectedItems.length === allPhotos.length" ng-click="toggleAllPhotos()"></md-checkbox>
            </div>
            <div class="table-col image">{{:: 'photo' | translate }}</div>
            <div class="table-col">{{:: 'name' | translate }}</div>
            <div class="table-col">{{:: 'size' | translate }}</div>
            <div class="table-col">{{:: 'width' | translate }}</div>
            <div class="table-col">{{:: 'height' | translate }}</div>
            <div class="table-col">{{:: 'preview' | translate }}</div>
            <div class="table-col">{{:: 'password' | translate }}</div>
            <div class="table-col">{{:: 'uploadedAt' | translate }}</div>
        </div>

        <div class="table-body">
            <div class="table-row" dir-paginate="photo in allPhotos | filter: search.query | filter:{user_id:showNotAttachedPhotosOnly ? 'null' : '!null'} | itemsPerPage: itemsPerPage" current-page="currentPage" ng-class="{ selected: isItemSelected(user) }" ng-click="select(photo)">
                <div class="table-col small-col align-left">
                    <md-checkbox aria-label="select photo" ng-checked="isItemSelected(photo)"></md-checkbox>
                </div>
                <div class="table-col image"><img ng-src="{{ photo.smallThumbnail }}"/></div>
                <div class="table-col">{{ photo.name }}</div>
                <div class="table-col">{{ utils.formatFileSize(photo.file_size) }}</div>
                <div class="table-col">{{ photo.width }}px</div>
                <div class="table-col">{{ photo.height }}px</div>
                <div class="table-col"><a target="_blank" href="{{ baseUrl+'#/view/photo/'+photo.share_id+'/'+photo.name }}">{{ photo.share_id }}</a></div>
                <div class="table-col" translate>{{ photo.password ? 'yes' : 'no' }}</div>
                <div class="table-col">{{ utils.formatDate(photo.created_at) }}</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="filters">
            <md-checkbox class="md-checkbox" ng-model="showNotAttachedPhotosOnly">{{:: 'notAttachedToUser' | translate }}</md-checkbox>
        </div>
        <div class="controls">
            <div class="per-page">
                {{:: 'rowsPerPage' | translate }}
                <md-select ng-model="itemsPerPage">
                    <md-option value="5">5</md-option>
                    <md-option value="10">10</md-option>
                    <md-option value="15">15</md-option>
                    <md-option value="20">20</md-option>
                    <md-option value="30">30</md-option>
                    <md-option value="100">100</md-option>
                </md-select>
            </div>
            <div class="meta">
                1-{{ itemsPerPage }} {{ 'of' | translate }} {{ allPhotos.length }}
            </div>
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>

    <md-progress-circular class="ajax-spinner" md-mode="indeterminate" ng-if="photosAjaxInProgress"></md-progress-circular>
</div>